*,
*::before,
*::after {
  box-sizing: border-box;
}

@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  color: #111111;
  background: #fbfbff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 800;
}

p {
  margin: 0;
}

a {
  color: inherit;
}
